div.alert-success, div.alert-danger, .captcha-cont, .captcha-cont>p{
    margin-top: 10px;
}
div.alert-info{
    padding: 20px;
    border-radius: 3%;
};
#ticket_form{
    margin-top: 10px;
}
.message{
    display: none;
}
.container{
    padding-top: 15px;
}
input.error {
    border: 1px solid #ff0000;
}
label.error {
    color: #ff0000;
    font-weight: normal;
}